@model List<Order>
@{
	ViewData["Title"] = "Orders";
}

@section Links {
	<link rel="stylesheet" href="~/css/Order/style.css" />
}

@section Scripts {
	<script src="~/js/OrderIndex.js"></script>
}

<div class="container">
	@if (Model != null && Model.Count != 0)
	{
		<h2 class="row justify-content-center mt-3 mb-3">All Your Orders!</h2>
		<table class="table table-striped table-bordered table-hover">
			<thead>
				<tr class="table-header">
					<th scope="col">#</th>
					<th scope="col">Date</th>
					<th scope="col">Address</th>
					<th scope="col">Total</th>
					<th scope="col">Order Status</th>
				</tr>
			</thead>
			<tbody>
				@foreach (Order order in Model)
				{
					<tr class="table-row">
						<td>@order.Id</td>
						<td><a href="~/Order/Details/@order.Id">@order.CreateDate</a></td>
						<td>@order.Address</td>
						<td>$@order.TotalPrice.ToString(".")</td>
						<td><span class="badge rounded-pill order-status">@Enum.GetName(order.Status).ToUpper()</span></td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<h2 class="row justify-content-center mt-5 mb-5">You don't have any orders!</h2>
	}
	<a class="row mt-4 row justify-content-center mb-5" href="~/Product/Index" id="continue-shopping">
		<svg xmlns="http://www.w3.org/2000/svg" width="18" height="35" fill="gray" class="bi bi-arrow-left-circle" viewBox="0 0 16 16" style="width: fit-content;">
			<path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
		</svg>
		Continue Shopping
	</a>
</div>


