@{
    ViewData["Title"] = "Home Page";
    ViewBag.Controller = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>Login (or create a new one if didn't have an account) to your account to see the products.</p>
</div>
